/*body {
    background-image: url("../images/javascript.png");
    background-repeat: no-repeat;
    background-size:
}*/

html { 
  background: url("../images/javascript.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}